<h1>Admin</h1>
<p>Name: <%= @application.name_of_applicant %></p>
<p>Street_address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<br>
<h2>Pets On Application </h2>
<% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <h4><%=link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
    <%if @application.application_pets.where('pet_id = ?',"#{pet.id}").first.status == "In Progress"%>
      <%= button_to "Approve", "/admin/applications/#{@application.id}/update", method: :patch, params: { pet_id: pet.id, application_id: @application.id, status: 'Approve' } %>
      <%= button_to "Reject", "/admin/applications/#{@application.id}/update", method: :patch, params: { pet_id: pet.id, application_id: @application.id, status: 'Rejected' } %>
    <%elsif @application.application_pets.where('pet_id = ?',"#{pet.id}").first.status == "Approved"%>
    <h4>Approved</h4>
    <%else%>
    <h4>Rejected</h4>
    <%end%>
<% end %>
