<h1>New Application</h1>
<%= form_with url: "/applications/new", method: :post, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name_of_applicant %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :city %>
  <%= f.number_field :city %>

  <%= f.label :state %>
  <%= f.number_field :state %>
  
  <%= f.label :zip_code %>
  <%= f.number_field :zip_code %>

  <%= f.submit %>
<% end %>
