<h1><%= @application.name_of_applicant %></h1>
<p>Rank: <%= @application.name_of_applicant %></p>
<p>Street_address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip Code: <%= @application.zip_code %></p>
<p>Description: <%= @application.description %></p>
<p>Status: <%= @application.status %></p>

<div>
<%if @application.status == "In Progress"%>
<h2>Add a Pet to this Application</h2>
  <%= form_with url: "/applications/#{@application.id}", method: :get, local: true do |f| %>
    <%= f.label :search %>
    <%= f.text_field :search %>
    <%= f.submit "Search" %>
  <% end %>
<%else%>
<%end%>
</div>
<div>
<%if defined?(@pet_search)%>
<div>
<%@pet_search.each do|pet_result|%>
  <div id="pet_result-<%= pet_result.id %>">
    <span><%=link_to "#{pet_result.name}", "/pets/#{pet_result.id}"%>
    <%= button_to "Adopt this pet", "/applications/#{@application.id}", method: :post, params: { pet_id: pet_result.id, application_id: @application.id } %></span>
  </div>
  <%end%>
</div>
<%end%>
</div>
<br>
<h2>Pets On Application </h2>
<% @pets.each do |pet| %>
  <div id="pet-<%= pet.id %>">
    <h4><%=link_to "#{pet.name}", "/pets/#{pet.id}" %></h4>
  </div>
<% end %>

<%if @pets.count != 0%>
<div>
<h2> Submit Application</h2>
<%= form_with url: "/applications/#{@application.id}", method: :patch,  local: true do |f| %>
    <h3>Why would you be a good applicant?</h3>
    <%= f.text_area :description %>
    <%= hidden_field_tag 'status', 'Pending'  %>
    <%= f.submit "Submit Application"%>
  <% end %>
<%end%>
</div>